.wrapper {
  margin-top: 50px;
}
.list-group {
  min-height: 20px;
}
.alert {
  top: 30px !important;
  z-index: 1000;
}
.alert-primary{
  background-color: #2b3e50;
}
canvas#c {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
}
.dg.ac {
  display: none !important;
}
.navbar,.todo-container, #todo-form, div.col-lg-6, div.col-md-6{
  z-index: 2
}
.panel{
  opacity: .95;
  z-index: 3
}
